@import 'layout';
@import 'designelements';
@import 'postpage';

$colorBlue: blue;

body {

}

.status-box {
    height: 30px;
    width: 30px;
    display: inline-block;
}
.Alive {
    background-color: green;

}

.Dead {
    background-color: red;
}